## MBDyn's output files when running all the tests
beam/spring/spring.elm
beam/spring/spring.nod
benchmarks/fourbar/fourbar.elm
benchmarks/fourbar/fourbar.nod
benchmarks/fourbar/fourbar.ref
benchmarks/fourbar/fourbar.set
benchmarks/lateralbuckling/lateralbuckling.elm
benchmarks/lateralbuckling/lateralbuckling.nod
benchmarks/lateralbuckling/lateralbuckling.ref
benchmarks/lateralbuckling/lateralbuckling.set
benchmarks/multibarmech/multibarmech_m.elm
benchmarks/multibarmech/multibarmech_m.nod
benchmarks/multibarmech/multibarmech_m.set
benchmarks/princeton/princeton.elm
benchmarks/princeton/princeton.nod
benchmarks/princeton/princeton.ref
benchmarks/princeton/princeton.set
benchmarks/rotatingshaft/rotatingshaft_m.elm
benchmarks/rotatingshaft/rotatingshaft_m.nod
benchmarks/rotatingshaft/rotatingshaft_m.ref
benchmarks/rotatingshaft/rotatingshaft_m.set
drives/filedriver/stream-echo.drv
forces/modalext/edge/mdata.dat
forces/modalext/edge/mflag.dat
forces/modalext/edge/rdata.dat
forces/modalext/edge/rflag.dat
forces/modalext/edge/trashme.frc
forces/modalext/edge/trashme.jnt
forces/modalext/edge/trashme.log
forces/modalext/edge/trashme.mbdyn
forces/modalext/edge/trashme.mod
forces/modalext/edge/trashme.mov
forces/modalext/edge/trashme.out
forces/modalext/edge/trashme.test1
forces/strext/edge/nflag.dat
forces/strext/edge/rflag.dat
joints/modal/code-aster/model.fem.bin
joints/modal/euler-bernoulli-beam/ebb.fem
joints/modal/euler-bernoulli-beam/ebb.fem.bin
joints/modal/floating-frame-beam/beam.fem.bin
joints/modal/two-beams/echo1.fem
joints/modal/two-beams/echo2.fem
joints/modal/two-beams/modal.fem.bin
joints/modal/two-beams/modal2.fem.bin
plates/beerinder2006/beerinder2006_5_1_2_m.elm
plates/beerinder2006/beerinder2006_5_1_2_m.nod
plates/beerinder2006/beerinder2006_5_1_2_m.ref
plates/beerinder2006/beerinder2006_5_1_2_m.set
plates/gopal2010/gopal2010_ext_m.elm
plates/gopal2010/gopal2010_m.elm
plates/gopal2010/gopal2010_m.nod
plates/gopal2010/gopal2010_m.ref
plates/gopal2010/gopal2010_m.set
plates/gopal2010/gopal2010m_ext_m.elm
plates/gopal2010/gopal2010m_m.elm
plates/gopal2010/gopal2010m_m.nod
plates/gopal2010/gopal2010m_m.ref
plates/gopal2010/gopal2010m_m.set
plates/jinyang2005/jinyang2005_5_m.elm
plates/jinyang2005/jinyang2005_5_m.nod
plates/jinyang2005/jinyang2005_5_m.ref
plates/jinyang2005/jinyang2005_5_m.set
rbk/tm4760/tm4760_blk.elm
rbk/tm4760/tm4760_blk.nod
rbk/tm4760/tm4760_blk.set
rbk/tnd371/tnd371.elm
rbk/tnd371/tnd371.nod
rbk/tnd371/tnd371.set
stream/body-in.echo

## Patched input files generated by MBDyn's simple_testsuite_patched.sh
*_simple_testsuite_patched_input.mbd
